 {% extends 'base.html' %}
 {% block content %}
 <h1>Mental Health Tracker</h1>
 <p>{{ test }}<p>
 {% endblock content %}
{% if not mood_entries %}
<p>Belum ada data food.</p>
{% else %}
<table>
  <tr>
    <th>Food Name</th>
    <th>Time</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  {% for food in foods %}
  <tr>
    <td>{{food.name}}</td>
    <td>{{food.time}}</td>
    <td>{{food.description}}</td>
    <td>{{food.min_price}}</td>
    <td>{{food.max_price}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_mood_entry' %}">
  <button>Add New Mood Entry</button>
</a>
{% endblock content %}