{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Explore</title>
{% endblock meta %}
{% block content %}
<!-- Navbar -->
{% include 'navbar.html' %}
<div class="flex pl-10 pt-20 bg-gray-100 items-center justify-between">
    <h1 class="text-4xl font-semibold sm:text-4xl pb-8">What are your cravings today, <span class="capitalize ">{{user.username}}</span>?</h1>
    <div class="w-96">
        <img src="{% static 'images/couple-eating-explore.png' %}" class="h-32">
    </div>
</div>
<div class="flex flex-col pt-12 px-10 items-start shrink-0 w-7xl mb-24">
    {% if user.is_authenticated and user.username == 'admin' %}
        <a class="font-bold border-2 mb-4 border-black rounded-full inline-flex items-center hover:bg-[rgb(150,0,0)] hover:text-white transition-color duration-300 hover:shadow-lg hover:-translate-y-1 transition duration-300" href="{% url 'explore:add_food' %}">
            <span class="font-black text-3xl pb-1.5 pl-2">+</span>
            <span class="pl-1 pr-4">Add Food</span>
        </a>
    {% endif %}

    {% if not foods %}
        <p>Belum ada data food.</p>
    {% else %}
        <!-- search bar -->
        <form class="w-[50%]">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-2 border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search Main Course, Snacks, ..." required />
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5 bg-[#550000] font-medium rounded-lg text-sm px-4 py-2 hover:bg-[rgb(140,0,0)] hover:-translate-y-0.5 hover:shadow-md transition duration-300">Search</button>
            </div>
        </form>

        <div class="flex gap-2 justify-start mt-2 mb-4">
            <a class="text-sm text-gray-500 font-semibold border-gray-300 border-2 rounded-xl px-2 py-2 hover:shadow-md hover:-translate-y-1 transition duration-300" href="#">Main Course</a>
            <a class="text-sm text-gray-500 font-semibold border-gray-300 border-2 rounded-xl px-2 py-2 hover:shadow-md hover:-translate-y-1 transition duration-300" href="#">Dessert</a>
            <a class="text-sm text-gray-500 font-semibold border-gray-300 border-2 rounded-xl px-2 py-2 hover:shadow-md hover:-translate-y-1 transition duration-300" href="#">Drinks</a>
            <a class="text-sm text-gray-500 font-semibold border-gray-300 border-2 rounded-xl px-2 py-2 hover:shadow-md hover:-translate-y-1 transition duration-300" href="#">Snacks</a>
        </div>
        <div class="flex flex-col border-2 rounded-xl border-gray-300">
            {% for food in foods %}
            {% include 'food_card.html' with food=food %}
            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- Footer Section -->
<footer class="bg-marron-800 py-10" style="background-color: #800000;">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-white">

        <!-- Contact Information Section -->
        <div>
            <h3 class="text-xl font-bold mb-3">Contact Us</h3>
            <ul class="space-y-2">
                <li class="flex items-center">
                    <strong>Telephone:</strong>
                    <a href="tel:+6283456789" class="hover:text-gray-300 ml-1">+62 8234567890</a>
                </li>
                <li class="flex items-center">
                    <strong>Email:</strong>
                    <a href="mailto:info@lohkan.com" class="hover:text-gray-300 ml-1">info@lohkan.com</a>
                </li>
            </ul>
        </div>
        <!-- Resources Section -->
        <div>
            <h3 class="text-xl font-bold mb-3">Dataset Resources</h3>
            <ul class="space-y-2">
                <li><a href="https://hotelier.id/makanan-khas-bangka-belitung/" class="hover:text-gray-300">Hotelier</a>
                </li>
                <li><a href="https://keluyuran.com/makanan-khas-bangka-belitung/"
                        class="hover:text-gray-300">Keluyuran</a></li>
                <li><a href="https://tempatwisataseru.com/makanan-khas-bangka-belitung-paling-enak-oleh-oleh-jajanan-pasar/"
                        class="hover:text-gray-300">Tempat Wisata Seru</a></li>
                <li><a href="https://makananoleholeh.com/makanan-khas-daerah/makanan-khas-bangka-belitung/"
                        class="hover:text-gray-300">Makanan Oleh Oleh</a></li>
                <li><a href="https://www.selasar.com/makanan-khas-bangka-belitung/"
                        class="hover:text-gray-300">Selasar</a></li>
                <li><a href="https://www.wisatabelitung.net/kue-khas-bangka-belitung/"
                        class="hover:text-gray-300">Wisata Belitung</a></li>
                <li><a href="https://www.gotravelly.com/blog/oleh-oleh-khas-bangka-belitung/"
                        class="hover:text-gray-300">Gotravelly</a></li>
            </ul>
        </div>

        <!-- Find Us Here Section -->
        <div>
            <h3 class="text-xl font-bold mb-3 text-white">Find Us Here</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.183271344341!2d106.82447917446905!3d-6.370323693619821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec1ad14fb6cf%3A0xc94e4d829420fa15!2sFakultas%20Ilmu%20Komputer%20(Fasilkom)%20UI!5e0!3m2!1sid!2sid!4v1727673094986!5m2!1sid!2sid"
                width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>

    <!-- Footer Bottom Section -->
    <div class="bg-marron-900 py-4 text-center text-gray-400">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
            <p>©2024 LohKan. All rights reserved. | <a href="#" class="hover:text-white">Terms of Service</a> | <a
                    href="#" class="hover:text-white">Privacy Policy</a></p>
        </div>
    </div>
</footer>

<script>
    document.querySelector('a[href="#section1"]').addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector('#section1').scrollIntoView({ behavior: 'smooth' });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const textElement = document.getElementById("typewriter");
        const text = textElement.textContent;
        textElement.textContent = "";  // Clear the text

        let index = 0;

        function typeWriter() {
            if (index < text.length) {
                textElement.textContent += text.charAt(index);
                index++;
                setTimeout(typeWriter, 100);  // Adjust speed as needed
            }
        }

        typeWriter();
    });
</script>
{% endblock content %}