{% extends 'base.html' %}

{% block content %}
{#<!-- Navbar -->#}
{#{% include 'navbar.html' %}#}

<h1>Explore</h1>
{% if not foods %}
    <p>Belum ada data food.</p>
{% else %}
    <table>
      <tr>
        <th>Food Name</th>
        <th>Time</th>
        <th>Description</th>
        <th>Price</th>
      </tr>

    {% for food in foods %}
        <tr>
            <td>{{food.name}}</td>
            <td>{{food.time}}</td>
            <td>{{food.description}}</td>
            <td>{{food.min_price}}</td>
            <td>{{food.max_price}}</td>
            <td>
                <a href="{% url 'explore:edit_food' food.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <a href="{% url 'explore:delete_food' food.pk %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'explore:add_food' %}">
    <button>Add Food</button>
</a>
{% endblock content %}