{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ article.title }}</title>
<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock meta %}

{% block content %}
<div class="container mx-auto py-16 px-4">
  <div class="article">
    <h1 class="text-3xl font-bold mb-4">{{ article.title }}</h1>
    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="w-full h-auto mb-6">
    <p class="text-lg text-gray-700">{{ article.description }}</p>
  </div>
</div>
{% endblock content %}
