

        {% comment %} THIS {% endcomment %}
        <form id="editBucketListForm" method="post">
            <div>
                <input type="text" name="name" class="border-2 border-[#CCC7BA] px-2 py-1 mt-4 w-full rounded-lg font-bold placeholder-[#CCC7BA]" placeholder="List name" required>
            </div>
        </form>

        <div class="flex justify-end mt-0.5">
            <p class="text-[#CCC7BA] font-bold text-sm">0/20</p>
        </div>

        <button type="submit" form="editBucketListForm" class="px-2 py-1 mt-2 w-full rounded-lg bg-black text-white font-bold">
            Save
        </button>
        {% comment %}  {% endcomment %}
