<div class="relative flex flex-row gap-6 border-b-2 border-[#CCC7BA] h-[15vh] w-full">
    <div class="h-[90%] aspect-square overflow-hidden rounded-md">
        <img src="blabla.jpg" class="object-cover w-full h-full">
    </div>
    <div class="flex flex-col w-1/2">
        <h2 class="font-[700] text-2xl">Lempah Kuning</h2>
        <p>deskripsi lempah kuning begini</p>
    </div>
    {% comment %} buttons {% endcomment %}
    <div class="absolute flex flex-row justify-center items-center gap-2 right-1 top-1/2 transform -translate-y-1/2">
        <div class="flex flex-row gap-1 bg-gray-500 rounded-lg px-2 py-1 h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
            <p class="text-white font-semibold tracking-wider">Tried</p>
        </div>
        <div class="bg-gray-500 rounded-lg p-1 h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
        </div>
    </div>
</div>