<!-- Footer Section -->
<footer class="bg-marron-800 py-10" style="background-color: #800000;">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-white"> 
      <!-- Contact Information Section -->
      <div>
            <h3 class="text-xl font-bold mb-3">Contact Us</h3>
            <ul class="space-y-2">
              <li class="flex items-center">
                <strong>Telephone:</strong> 
                <a href="tel:+6283456789" class="hover:text-gray-300 ml-1">+62 8234567890</a>
              </li>
              <li class="flex items-center">
                <strong>Email:</strong> 
                <a href="mailto:info@lohkan.com" class="hover:text-gray-300 ml-1">info@lohkan.com</a>
              </li>
            </ul>
          </div>
      <!-- Resources Section -->
      <div>
        <h3 class="text-xl font-bold mb-3">Dataset Resources</h3>
        <ul class="space-y-2">
          <li><a href="https://hotelier.id/makanan-khas-bangka-belitung/" class="hover:text-gray-300">Hotelier</a></li>
          <li><a href="https://keluyuran.com/makanan-khas-bangka-belitung/" class="hover:text-gray-300">Keluyuran</a></li>
          <li><a href="https://tempatwisataseru.com/makanan-khas-bangka-belitung-paling-enak-oleh-oleh-jajanan-pasar/" class="hover:text-gray-300">Tempat Wisata Seru</a></li>
          <li><a href="https://makananoleholeh.com/makanan-khas-daerah/makanan-khas-bangka-belitung/" class="hover:text-gray-300">Makanan Oleh Oleh</a></li>
          <li><a href="https://www.selasar.com/makanan-khas-bangka-belitung/" class="hover:text-gray-300">Selasar</a></li>
          <li><a href="https://www.wisatabelitung.net/kue-khas-bangka-belitung/" class="hover:text-gray-300">Wisata Belitung</a></li>
          <li><a href="https://www.gotravelly.com/blog/oleh-oleh-khas-bangka-belitung/" class="hover:text-gray-300">Gotravelly</a></li>
        </ul>
      </div>
  
      <!-- Find Us Here Section -->
      <div>
        <h3 class="text-xl font-bold mb-3 text-white">Find Us Here</h3>
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.183271344341!2d106.82447917446905!3d-6.370323693619821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec1ad14fb6cf%3A0xc94e4d829420fa15!2sFakultas%20Ilmu%20Komputer%20(Fasilkom)%20UI!5e0!3m2!1sid!2sid!4v1727673094986!5m2!1sid!2sid" 
          width="100%" 
          height="200" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy">
        </iframe>
      </div>
    </div>
    
    <!-- Footer Bottom Section -->
    <div class="bg-marron-900 py-4 text-center text-gray-400">
      <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <p>©2024 LohKan. All rights reserved. | <a href="#" class="hover:text-white">Terms of Service</a> | <a href="#" class="hover:text-white">Privacy Policy</a></p>
      </div>
    </div>
</footer>